/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.calendar {
	font-family: "Montserrat", sans-serif;
	font-size: var(--cal-desc-font-size);
	font-weight: 100;
	line-height: 1em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	display: block;

	// For zooming
	transform-origin: top left;
	scale: var(--cal-scale);
	width: calc(100%/var(--cal-scale));
	height: calc(var(--cal-row-height)*var(--cal-rows)*var(--cal-scale));
}

.tooltip hr {
	width: 30px;
	height: 1px;
	border: 0px;
	background-color: #000;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
	margin-left: auto;
	margin-right: auto;
}

.cal-room-selector {
	margin-right: 5px;
}

.cal-category {
	height: 14px;
	width: 14px;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	margin: 5px 6px 0px 6px;
}

.cal-week {
	overflow-x: scroll;
	white-space: nowrap;
	width: calc(100% - var(--cal-col-time-width));
	display: inline-block;
}

.cal-day-parent {
	display: inline-block;
}

.cal-day-name {
	box-sizing: border-box;
	float: none;
	height: var(--cal-row-height);
	display: grid;
	align-items: center;
	text-align: center;
	border: 1px solid #000000;
}

.cal-day {
	float: left;
	width: auto;
}

.cal-row {
	box-sizing: border-box;
	float: none;
	height: var(--cal-row-height);
	display: grid;
	align-items: center;
	text-align: center;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.cal-row-hour {
	background-color: #E7E7E7;
}

.cal-col {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: var(--cal-col-width);
}

.cal-col.cal-time {
	width: var(--cal-col-time-width);
}

.cal-row-top {
	border-top: 1px solid #000000;
}

.cal-col-right .cal-row {
	border-right: 1px solid #000000;
}

.cal-event p {
	line-height: 1.3;
}

.cal-event p.cal-event-title {
	margin: 0px;
	font-size: var(--cal-title-font-size);
	font-weight: 400;
	color: #000;

	word-break: break-word;
	white-space: normal;
	margin-bottom: 2px !important
}

p.cal-event-description {
	margin: 0px;
	font-size: var(--cal-desc-font-size);
	font-weight: 100;
	color: #333;

	word-break: break-word;
	white-space: normal;
}

.cal-tooltip-row {
	margin: 0px;
	font-size: var(--cal-desc-font-size);
	color: #333;
	display: inline-block;
	width: calc(100% - 20px);
	vertical-align: middle;

	word-break: break-word;
	white-space: normal;
}

.cal-tooltip-row.icon {
	width: 20px;
}

.cal-event {
	background-color: var(--event-color);
	position: relative;
	height: var(--event-height);
}

.cal-event .tooltip {
	width: calc(var(--cal-col-width)*2);
	left: 50%;
	background-color: var(--event-color);
	padding: 10px 5px;
	border-radius: 8px;
	position: absolute;
	z-index: 3;
	box-sizing: border-box;
	display: none;
	border: 1px solid black;
}

.cal-event:hover .tooltip {
	display: block;
}

.cal-event .tooltip i {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 12px;
	overflow: hidden;
}

.cal-event .tooltip i::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	background-color: var(--event-color);
	border: 1px solid black;
}

.cal-event .top {
	top: -12px;
	transform: translate(-50%, -100%);
}

.cal-event .top i {
	top: 100%;
}

.cal-event .top i::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.cal-event .bottom {
	top: calc(min(var(--event-height) + 10px, 250px));
	transform: translate(-50%, 0);
}

.cal-event .bottom i {
	bottom: 100%;
}

.cal-event .bottom i::after {
	transform: translate(-50%, 50%) rotate(45deg);
}

.cal-monday .cal-col-first .cal-event .tooltip {
	left: var(--cal-col-width);
}

.cal-monday .cal-col-first .cal-event .tooltip i {
	left: 25%;
}

.cal-sunday .cal-col-right .cal-event .tooltip {
	left: 0px;
}

.cal-sunday .cal-col-right .cal-event .tooltip i {
	left: 75%;
}